@import "../../index.scss";

.header {
    background-color: rgb(37, 37, 37);
    border-radius: 12px;
    box-shadow: 0 0 20px rgb(34, 34, 34);
    width: 100%;
    display: flex;
    justify-content: center;
    padding: 25px;
    text-shadow: 0 0 30px rgba(255, 255, 255, 0.664);

    &__title {
        text-align: center;
        font-size: 35px;
        color: $accentColor;
      }
  }
  
